<div class="card-header pb-0">
  <h5 class="card-title text-primary">รายละเอียด</h5>
</div>
<div class="card-body">
  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="1"
            name="1"
          />
          <label
            class="form-check-label"
            for="1"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีสัญชาติอเมริกัน / เกิดที่สหรับอเมริกา / มีที่อยู่ถาวรสหรัฐอเมริกา</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="2"
            name="2"
          />
          <label
            class="form-check-label"
            for="2"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีที่อยู่ปัจจุบัน หรือที่อยู่เพื่อการติดต่อ หรือที่อยู่เพื่อรับสั่งไปราณียืแทน ในสหรัฐอเมริกา</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="3"
            name="3"
          />
          <label
            class="form-check-label"
            for="3"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีที่อยู่ชั่วคราวในสหรัฐอเมริกา หรือ เคยอาสัยอยู่ในอเมริกาเกินกว่า 183 วัน</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="4"
            name="4"
          />
          <label
            class="form-check-label"
            for="4"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีหมายเลขดทรศัพท์ในสหรัฐอเมริกา</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="5"
            name="5"
          />
          <label
            class="form-check-label"
            for="5"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีการมอบอำนาจให้บุคคลอื่นที่มีที่อยู่ในสหรัฐอเมริกา ดำเนินการเกี่ยวข้องกับบัญชีแทน</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="6"
            name="6"
          />
          <label
            class="form-check-label"
            for="6"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีการตั้งคำสั่งทำรายการโอนเงินเป็นประจำล่วงหน้าไปยังบัญชีที่อยู่ในสหรับอเมริกา</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="7"
            name="7"
          />
          <label
            class="form-check-label"
            for="7"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>เป็นบริษัทที่ทีการจดทะเบียนจัดตั้งในสหรัฐอเมริกา</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="8"
            name="8"
          />
          <label
            class="form-check-label"
            for="8"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>เป็นบริษัทที่มีข้อมูลบ่งชี้ได้ว่า มีความเกี่ยวพันกับสหรัฐอเมริกาซึ่งมีบุคคลอเมริกัน เป็นผู้ถือหุ้นไม่ว่าทางตรงหรือทางอ้อม ในสัดส่วนของหุ้นรวมกันเกินกว่า 10%</p>
      </div>
    </div>
  </div>


</div>

<div class="_modal-footer">
  <button
    type="button"
    class="btn btn-clear  mr-1 mb-1"
    (click)="onCancel()"
  ><span>ปิด</span>
  </button>
</div>