<div>
  <fieldset class="form-group">
    <label for="basicInput">Date picker</label>
    <pn-date-picker></pn-date-picker>
  </fieldset>
  <fieldset class="form-group">
    <label for="basicInput">Date picker</label>
    <pn-date-picker
      placeholder="dd/mm/yyyy"
      [disabled]="true"
    ></pn-date-picker>
  </fieldset>
  <fieldset class="form-group">
    <label for="basicInput">Date Range picker</label>
    <pn-date-range-picker placeholder="dd/mm/yyyy - dd/mm/yyyy"></pn-date-range-picker>
  </fieldset>
  <fieldset class="form-group">
    <label for="basicInput">Date Range picker</label>
    <pn-date-range-picker
      placeholder="dd/mm/yyyy - dd/mm/yyyy"
      [disabled]="true"
    ></pn-date-range-picker>
  </fieldset>
</div>