<div>
  <p class="mb-0"><code> &lt;pn-toggle&gt;&lt;/pn-toggle&gt; </code></p>
  <div class="content">
    <ul>
      <li>custom label ได้เต็มที่</li>
      <li>ใช้ ngModel ได้ปกติ</li>
    </ul>
  </div>

  <hr />
  <h6>Label อยู่ข้างซ้าย</h6>
  <p>use <code> &lt;pn-toggle-left&gt;&lt;/pn-toggle-left&gt; </code></p>
  <pn-toggle class="mb-2">
    <pn-toggle-left>
      <div class="bg-light-danger">
        <p class="m-0">custom label left</p>
      </div>
    </pn-toggle-left>
  </pn-toggle>
  <hr />
  <h6>Label อยู่ข้างขวา</h6>
  <p>use <code> &lt;pn-toggle-right&gt;&lt;/pn-toggle-right&gt; </code></p>
  <pn-toggle class="mb-2">
    <pn-toggle-right>
      <div class="bg-light-danger">
        <p class="m-0">custom label Right</p>
      </div>
    </pn-toggle-right>
  </pn-toggle>
  <hr />
  <h6>Label อยู่ทั้ง 2 ข้าง</h6>
  <p class="mb-0"> <code> &lt;pn-toggle-left&gt;&lt;/pn-toggle-left&gt;</code></p>
  <p> <code> &lt;pn-toggle-right&gt;&lt;/pn-toggle-right&gt;</code></p>
  <pn-toggle class="mb-2">
    <pn-toggle-left>
      <div class="bg-light-danger">
        <p class="m-0">custom label both</p>
      </div>
    </pn-toggle-left>
    <pn-toggle-right>
      <div class="bg-light-danger">
        <p class="m-0">custom label both</p>
      </div>
    </pn-toggle-right>
  </pn-toggle>
</div>