<!-- <div class="_g-detail"> -->
  <div class="row">
    <div class="col-12 d-flex px-0 py-1">
      <div class="col-5">
        <div class="row">
          <div class="col-6 _g-text-title">
            <span>เลขที่</span>
            <p>{{data?.country === 'Thailand' ? 'ไทย' : '-'}}</p>
          </div>
          <div class="col-6 _g-text-title">
            <span>หมู่ที่</span>
            <p>{{data?.subDistrict || '-'}}</p>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-4 _g-text-title">
            <span>อาคาร / หมู่บ้าน</span>
            <p>{{data?.district || '-'}}</p>
          </div>
          <div class="col-4 _g-text-title">
            <span>เลขที่ห้อง</span>
            <p>{{data?.postalCard || '-'}}</p>
          </div>
          <div class="col-4 _g-text-title">
            <span>ชั้น</span>
            <p>{{data?.postalCard || '-'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex px-0 py-1">
      <div class="col-5">
        <div class="row">
          <div class="col-6 _g-text-title">
            <span>ซอย</span>
            <p>{{data?.country === 'Thailand' ? 'ไทย' : '-'}}</p>
          </div>
          <div class="col-6 _g-text-title">
            <span>ถนน</span>
            <p>{{data?.district || '-'}}</p>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-4 _g-text-title">
            <span>ตำบล / แขวง</span>
            <p>{{data?.subDistrict || '-'}}</p>
          </div>
          <div class="col-4 _g-text-title">
            <span>อำเภอ / เขต</span>
            <p>{{data?.postalCard || '-'}}</p>
          </div>
          <div class="col-4 _g-text-title">
            <span>จังหวัด</span>
            <p>{{data?.postalCard || '-'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex px-0 py-1">
      <div class="col-5">
        <div class="row">
          <div class="col-6 _g-text-title">
            <span>รหัสไปรษณีย์</span>
            <p>{{data?.postalCard || '-'}}</p>
          </div>
          <div class="col-6 _g-text-title">
            <span>ประเทศ</span>
            <p>{{data?.country === 'Thailand' ? 'ไทย' : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-6 _g-text-title">
            <span>เบอร์โทรศัพท์</span>
            <p>{{data?.district || '-'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
