<ul class="list-unstyled mb-0">
  <li class="d-inline-block mr-2 mb-2">
    <div class="checkbox">
      <input
        type="checkbox"
        id="checkbox1"
        checked
      >
      <label for="checkbox1"><span>Active</span></label>
    </div>
  </li>
  <li class="d-inline-block mr-2 mb-2">
    <div class="checkbox">
      <input
        type="checkbox"
        id="checkbox2"
      >
      <label for="checkbox2"><span>Inactive</span></label>
    </div>
  </li>
  <li class="d-inline-block mr-2 mb-2">
    <div class="checkbox checkbox-secondary">
      <input
        type="checkbox"
        id="checkbox5"
      >
      <label for="checkbox5"><span>Secondary<code class="ml-1">.radio.checkbox-&#123;color&#125;</code></span></label>
    </div>
  </li>
  <li class="d-inline-block mr-2 mb-2">
    <div class="checkbox">
      <input
        type="checkbox"
        id="checkbox3"
        disabled
        checked
      >
      <label for="checkbox3"><span>Checked - disabled</span></label>
    </div>
  </li>
  <li class="d-inline-block">
    <div class="checkbox">
      <input
        type="checkbox"
        id="checkbox4"
        disabled
      >
      <label for="checkbox4"><span>Unchecked - disabled</span></label>
    </div>
  </li>
</ul>
