<div>
  <!--  FILTER-->
  <div class="card-body px-0 pb-0">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-form-label">ค้นหา</label>
          <div class="d-flex">
            <div class="flex-1">
              <div class="form-input">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ชื่อ-นามสกุล, อีเมล, เบอร์โทรศัพท์"
                  [(ngModel)]="filterName"
                  (ngModelChange)="searchDebounce()"
                >
              </div>
            </div>
            <div class="_btn-clear">
              <button
                type="button"
                class="btn btn-clear btn-lg mr-1 mb-1"
                (click)="onClearFilter()"
              >ล้าง
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  FILTER-->


  <div>
    <div class="_g-pager-with-tab d-flex justify-content-between">
      <div class="col-6 px-0">
        <pn-grid-per-page
          [page]="page"
          (setPerPage)="grid.setPerPage($event)"
        ></pn-grid-per-page>
      </div>
      <div *ngIf="canCreate">
        <button
          type="button"
          class="btn btn-primary"
          (click)="add()"
        >เพิ่มผู้ใช้งาน
        </button>
      </div>
    </div>
    <div
      class="col-12"
      *ngIf="rows && rows?.length === 0"
    >
      <pn-data-not-found>
      </pn-data-not-found>
    </div>
    <div
      class="_g-table-container"
      [hidden]="rows && rows?.length === 0"
    >
      <pn-lib-grid
        #grid
        [bodyHeight]="'auto'"
        [dataSub]="dataSub"
        [rows]="rows"
        [columns]="columns"
        [rowHeight]="65"
        [externalPaging]="true"
        [(page)]="page"
        (pageChange)="pageChange()"
        (sortChange)="sortChange()"
        (edit)="edit($event)"
        (delete)="delete($event)"
      ></pn-lib-grid>
    </div>
  </div>
</div>

<ng-template
  #nameTpl
  let-value="value"
  let-row="row"
>
  {{row.firstName}} {{row.lastName}}
</ng-template>

<lib-modal
  #modal
  modalSize="lg"
  [showHeader]="false"
>
  <user-form
    *ngIf="modal.isOpen"
    [isNew]="isNew"
    [userData]="item"
    (cancel)="modal.close()"
    (save)="save()"
    [roleId]="roleId"
  >
  </user-form>
</lib-modal>
