<h1 class="_g-title-header">Story Book</h1>
<div class="row">
  <div class="col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Colors</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <div class=" d-flex">
            <div class="mr-3">
              <div class="color bg-primary">
                <span class="text-white">#db9800</span>
              </div>
              <span>primary</span>
            </div>
            <div class="mr-3">
              <div class="color bg-secondary">
                <span>#D7DAE1</span>
              </div>
              <span>secondary</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Typography</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-typography></v-typography>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Button</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-button></v-button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">DatePicker / TimePicker</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-datepicker></v-datepicker>
          <v-timepicker></v-timepicker>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Segmented Control</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-segmented-control></v-segmented-control>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Tab</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-tab></v-tab>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Text Field</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-input></v-input>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Dropdown</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-dropdown></v-dropdown>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Radio Button</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-radio></v-radio>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Badge</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-badge></v-badge>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Toggle</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-toggle></v-toggle>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Checkbox</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-checkbox></v-checkbox>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Data Not Found</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-data-not-found [isCustom]="true"></v-data-not-found>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Data Not Found in Col-12</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-data-not-found></v-data-not-found>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">Icon</h4>
      </div>
      <div class="card-content">
        <div class="card-body pt-0">
          <v-icon></v-icon>
        </div>
      </div>
    </div>
  </div>
</div>