@import "variables-custom";

._customer-filter {
  ._filter-section2 {
    //._form {
    //  margin-right: $grid-gutter-width;
    //  margin-bottom: 0px;
    //}
  }

  ._form {
    margin-right: $grid-gutter-width;
    margin-bottom: 0px;
  }

}

._btn-clear {
  margin-left: $grid-gutter-width;
  //margin-left: 3rem;
}

._img-size {
  width: 250px;
  height: 250px;
}

