<div class="card-header pb-0">
  <h5 class="card-title text-primary">รายละเอียด</h5>
</div>
<div class="card-body">
  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="isAccount1"
            name="isAccount1"
          />
          <label
            class="form-check-label"
            for="isAccount1"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีความสัมพันธ์กับการเมืองมีประวัติการกระทำผิดกฎหมายฟอกเงินในช่วงสามปีที่ผ่านมา</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="isAccount2"
            name="isAccount2"
          />
          <label
            class="form-check-label"
            for="isAccount2"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>เคยถูกปฎิเสธการเปิดบัญชีจากสถาบันการเงิน</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="isAccount3"
            name="isAccount3"
          />
          <label
            class="form-check-label"
            for="isAccount3"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>เคยหรืออยู่ระหว่างการถูกฟ้องร้อง/ถูกบังคับคดีทางศาล</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="pr-3">
        <div class="checkbox _checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="isAccount4"
            name="isAccount4"
          />
          <label
            class="form-check-label"
            for="isAccount4"
          ></label>
        </div>
      </div>
      <div class="col-10">
        <p>มีบุคคลที่ได้รับผลประโยชน์จากการทำธุรกรรม หรือมีอำนาจควบคุมการทำธุรกรรม (ตรวจสอบนอมอนี)</p>
      </div>
    </div>
  </div>

</div>

<div class="_modal-footer">
  <button
    type="button"
    class="btn btn-clear  mr-1 mb-1"
    (click)="onCancel()"
  ><span>ปิด</span>
  </button>
</div>