<div class="card-body">
  <div class="d-flex justify-content-between">
    <div>
      <span class="text-primary font-size-medium">ระบุลูกค้า</span>
    </div>
  </div>
  <!--Content Filter-->
  <div class="col-12">
    <div class="row">
      <div class="col-7">
        <div class="form-group">
          <label class="col-form-label">ค้นหา</label>
          <div class="form-input">
            <input
              type="text"
              id="search"
              name="search"
              class="form-control"
              placeholder="ชื่อหรือ IC License"
              [(ngModel)]="filter.search"
              (ngModelChange)="searchDebounce()"
            >
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label class="col-form-label">Team.</label>
          <div class="d-flex">
            <div class="flex-1">
              <shared-team-dropdown
                placeholder="Team"
                [(ngModel)]="filter.team"
                (ngModelChange)="filterChange($event)"
                [multiple]="true"
              >
              </shared-team-dropdown>
            </div>
            <div class="_g-btn-clear">
              <button
                type="button"
                class="btn btn-clear btn-lg mr-1 mb-1"
                (click)="clearFilter()"
              >ล้าง
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  LIST-->
  <div>
    <div
      class="col-12"
      *ngIf="rows && rows?.length === 0"
    >
      <pn-data-not-found>
      </pn-data-not-found>
    </div>
    <div
      [hidden]="rows && rows?.length === 0"
      class="_g-table-container"
    >
      <pn-lib-grid
        #grid
        [sort]="{prop: 'customerName', asc: true}"
        [bodyHeight]="'auto'"
        [dataSub]="dataSub"
        [rows]="rows"
        [columns]="columns"
        [rowHeight]="65"
        [externalPaging]="true"
        [(page)]="page"
        (pageChange)="pageChange()"
        (sortChange)="onSortChange($event)"
        (detailInfo)="detailInfo($event)"
      ></pn-lib-grid>
    </div>
  </div>

<!--FOOTER-->
  <div class="d-flex justify-content-end pt-3">
    <div class="col-6 d-flex pl-0">
      <div class="col-6 d-flex pl-0">
        <span class="text-bold-500">เลือก </span>
        <span class="text-bold-500 text-primary">&nbsp;{{getAgentRecord(agentList)}}</span>
        <span class="text-bold-500 text-muted">/{{allRecordAgent}}</span>
      </div>
    </div>
    <div class="col-6 d-flex pr-0">
      <div class="col-6 pl-0 _display-btn">
        <button
          type="button"
          class="btn btn-clear flex-1"
          (click)="onCancel()"
        >
          <span><i class="ic-cross"></i>ยกเลิก</span>
        </button>
      </div>
      <div class="col-6 pr-0 _display-btn">
        <button
          type="submit"
          class="btn btn-primary flex-1"
          (click)="onSave()"
        >
          <span><i class="ic-cross"></i>ยืนยัน</span>
        </button>
      </div>
    </div>
  </div>
</div>


<!--TEMPLATE-->

<!-- header Checkbox -->
<ng-template
  #headerCheckboxTpl
  let-value="value"
  let-row="row"
>
  <div class="checkbox mt-2 ml-3 border-0">
    <input
      type="checkbox"
      name="isSelectedAll"
      id="isSelectedAll"
      [(ngModel)]="selectAll"
      (ngModelChange)="onClickAll($event)"
    />
    <label  class="border-0 bg-transparent" for="isSelectedAll"></label>
  </div>
</ng-template>

<!-- cell checkboxTpl -->
<ng-template
  #checkboxTpl
  let-row="row"
  let-isSelected="isSelected"
  let-onCheckboxChangeFn="onCheckboxChangeFn"
>
  <div
    class="checkbox border-0"
  >
    <input
      type="checkbox"
      name="isSelected{{ row.user.id }}"
      id="isSelected{{ row.user.id }}"
      [(ngModel)]="row.isAllow"
      (ngModelChange)="onClickCheck($event, row, row.user.id)"
    />
    <label class="border-0 bg-transparent" for="isSelected{{ row.user.id }}"></label>
  </div>
</ng-template>

<ng-template
  #nameTpl
  let-value="value"
  let-row="row"
>
  <span *ngIf="row?.user?.firstName && row?.user?.lastName">{{row?.user?.firstName}} {{row?.user?.lastName}}</span>
  <span *ngIf="!row?.user?.firstName && !row?.user?.lastName">-</span>
</ng-template>
