<div class="card-content">
  <div class="card-header pb-0">
    <h5 class="card-title text-primary">แบบประเมินความเสี่ยง</h5>
  </div>
  <div class="card-body py-0">
    <div class="_g-card-sub-header  pt-0">
      <span class="_g-text-header-sub-title">1. ปัจจุบันท่านอายุ</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-1-4"
                checked
              >
              <label for="index-1-4"><span>น้อยกว่า 35 ปี</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>


    <div class="_g-card-sub-header">
      <span class="_g-text-header-sub-title">2. ปัจจุบันท่านมีภาระทางการเงินและค่าใช้จ่ายประจำเช่น ค่าผ่อนบ้าน รถ ค่าใช้จ่ายส่วนตัวและค่าเลี้ยงดุครอบครัวเป็นสัดส่วนเท่าใด</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-2-1"
                checked
              >
              <label for="index-2-1"><span>มากกว่าร้อยละ 75 ของรายได้ทั้งหมด</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>


    <div class="_g-card-sub-header">
      <span class="_g-text-header-sub-title">3. ท่านมีสถานะภาพทางการเงินในปัจจุบันอย่างไร</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-3-2"
                checked
              >
              <label for="index-3-2"><span>มีทรัพย์สินเท่ากับหนี้สิน</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>


    <div class="_g-card-sub-header">
      <span class="_g-text-header-sub-title">4. ท่านเคยมีประสบการณ์หรือมีความรู้ในการลงทุนในทรัพย์สินกลุ่มใดต่อไปนี้บ้าง (เลือกได้มากว่า 1 ข้อ)</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-4-1"
                checked
              >
              <label for="index-4-1"><span>เงินฝากธนาคาร</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">5. ระยะเวลาที่ท่านคาดว่าจะไม่มีความจำเป็นต้องใช้เงินลงทุนนี้</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-5-2"
                checked
              >
              <label for="index-5-2"><span>ตั้งแต่ 1 แต่น้อยกว่า 3 ปี</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">6. ความสามารถในการรับความเสี่ยงของท่าน คือ</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-6-1"
                checked
              >
              <label for="index-6-1"><span>เน้นเงินต้นต้องปลอดภัยและได้รับผลตอบแทนสม่ำเสมอแต่ต่ำได้</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>


    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">7. เมื่อพิจารณารูปแสดงตัวอย่างผลตอบแทนของกลุ่มการลงทุนที่อาจเดิดขึ้นด้านล่าง ท่านเต็มใจที่จะลงทุนในกลุ่มการลงทุนใดมากที่สุด</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-6-1"
                checked
              >
              <label for="index-7-1"><span>กลุ่มการลงทุนที่ 1 มีโอกาสได้รับผลตอบแทน 2.5% โดยไม่ขาดทุนเลย</span></label>
            </div>
          </li>

        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">8. ถ้าท่านเลือกลงทุนในทรัพท์ย์สินที่มีโอกาสได้รับผลตอบแทนมาก แต่มีโอกาสขาดทุนสูงด้วยเช่นกัน ท่านจะรู้สึกอย่างไร</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="row">
        <div class="col-12">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-8-1"
                checked
              >
              <label for="index-8-1"><span>กังวลและตื่นตระหนกกลัวขาดทุน</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>


    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">9. ท่านจะรู้สึกกังวล / รับไม่ได้เมื่อมูลค่าเงินลงทุนของท่านมรการปรับตัวลดลงในสัดส่วนเท่าใด</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-9-2"
                checked
              >
              <label for="index-9-2"><span>มากกว่า 5%-10%</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">10. หากปีที่แล้วท่านลงทุนไป 100,00 บาท ปีนี้ท่านพบว่ามูลค่าเงินลงทุนลงลดลงเหลือ 85,000 บาท ท่านจะทำอย่างไร</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-10-4"
                checked
              >
              <label for="index-10-4"><span>ยังมั้นใจ เพราะเข้าใจว่าต้องลงทุนระยะยาว และจะเพิ่มเงินลงทุนในแบบเดิมเพื่นเฉลี่ยนต้นทุน</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">11. หากการลงทุนในสัญญาซื้อขายล่วงหน้า (อนุพันธ์) และหุ้นกู้ที่มีอนุพันธ์แฝงประสบความสำเร็จ ท่านจะได้รัยผลตอบแทนในอัตราที่สูงมาก แต่หากการลงทุนล้มเหลว ท่านอาจจะสูญเงินลงทุนทั้งหมดและอาจต้องลงเงินชดเชยเพิ่มบางส่วนท่านยอมรับได้เพียงใด</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-11-2"
                checked
              >
              <label for="index-11-2"><span>ได้</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">12. นอกเหนือจากความเสี่ยงในการลงทุนแล้ว ท่านสามารถรับความเสี่ยงด้านอัตราแลกเปลี่ยนได้เพียงใด</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-12-2"
                checked
              >
              <label for="index-12-2"><span>ได้</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

    <div class="_g-card-sub-header ">
      <span class="_g-text-header-sub-title">13. การลงทุนในสินค้าโภคภัณฑ์เช่น ทองคำ หรือ น้ำมันดิบ มีโอกาสได้รับผลตอบแทนสูง แต่ก็มีความเสี่ยงจากปัจจัยระดับมหภาคของโลกมาเกี่ยวข้องด้วยเช่นกัน คุณสามารถรับความเสี่ยงจากการลงทุนสินค้าโภคภัณฑ์ได้หรือไม่</span>
    </div>
    <div class="col-12 d-flex px-0">
      <div class="col-12">
        <div class="row">
          <li class="d-inline-block mr-2 mb-2">
            <div class="checkbox">
              <input
                type="checkbox"
                id="index-13-1"
                checked
              >
              <label for="index-13-1"><span>ไม่ได้</span></label>
            </div>
          </li>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="_modal-footer">
  <button
    type="button"
    class="btn btn-clear  mr-1 mb-1"
    (click)="onCancel()"
  ><span>ปิด</span>
  </button>
</div>