<div>
  <span class="badge badge-primary mb-1 mr-2">badge-primary</span>
  <span class="badge badge-secondary mb-1 mr-2">badge-secondary</span>
  <span class="badge badge-success mb-1 mr-2">badge-success</span>
  <span class="badge badge-danger mb-1 mr-2">badge-danger</span>
  <span class="badge badge-info mb-1 mr-2">badge-info</span>
  <span class="badge badge-warning mb-1 mr-2">badge-warning</span>
  <span class="badge badge-light mb-1 mr-2">badge-light</span>
  <span class="badge badge-dark mb-1">badge-dark</span>
</div>