@import "variables-custom";

.card-header {
  background-color: rgba(0, 0, 0, 0);
}

._modal-footer {
  min-height: 65px;
  // border-top: 1px solid #f0f0f0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn,
a.btn {
  height: 48px;
  min-width: 222px;
  line-height: 1;
}
