.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}

.bg-light-secondary {
  background-color: #fafafa !important;
}

.bg-yellow {
  background-color: #fdd559 !important;
}

.bg-typeMM {
  background-color: #68b946 !important;
}

.bg-typeFI {
  background-color: #a2c83a !important;
}

.bg-typeM {
  background-color: #ffd553 !important;
}

.bg-typeE {
  background-color: #f36f2c !important;
}

.bg-typeP {
  background-color: #e52325 !important;
}

.bg-typeC{
  background-color: #971b1e !important;
}

.bg-typeOther {
  background-color: #959595 !important;
}

