.modal {
  .modal-content {
    border-radius: $border-radius;
    border: 0;
    .modal-header {
      padding: 1rem;
      border-bottom-color: $border-light;
      min-height: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .modal-title {
        font-size: $size-large;
        font-weight: $weight-semibold;
      }
      .close {
        font-size: $size-normal;
      }
    }
    .modal-body {
      padding: 0;
      ._content {
        max-height: 80vh;
        overflow: auto;
        padding: 1rem;
      }
    }
    .modal-footer {
      min-height: 65px;
      border-top: 1px solid $border-light;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      *:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }
}

.modal.popup-confirm {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-card {
    margin: 100px auto;
    background-color: white;
    .modal-card-head {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border;
      p {
        margin-bottom: 0;
        font-size: 1.285rem;
      }
    }
    .modal-card-body {
      padding: 1rem;
    }
  }
}

// @include media-breakpoint-up(xxl) {
//   .modal-xxl {
//     max-width: 1300px;
//   }
// }