.custom-switch {
  padding-left: 45px;
  height: 24px;
  .custom-control-input {
    & ~ .custom-control-label {
      &:before {
        border-color: $disabled !important;
        background-color: $disabled;
        height: 24px;
        width: 40px;
        // height: 21px;
        // width: 43px;
      }
      &:after {
        background-color: $white;
        // background-color: #3bc7dc;
        height: 18px;
        width: 18px;
        top: 3px;
        // height: 30px;
        // width: 30px;
        // top: -4px;
        // left: -50px;
      }
    }
    &:not(:disabled):active ~ .custom-control-label {
      &:before {
        border-color: $primary !important;
        background-color: $primary;
      }
    }
    &:checked ~ .custom-control-label {
      &:before {
        border-color: $primary !important;
        background-color: $primary;
      }
      &:after {
        // background-color: $disabled !important;
        left: -47px;
        // left: -57px;
      }
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      background-color: $primary;
    }
  }
}
