<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex justify-content-center">
      <div class="card overflow-hidden _auth">
        <div class="card-content">
          <form
            #form="ngForm"
            [class.submitted]="submitted"
            (ngSubmit)="onSendEmail(form)"
          >
            <div class="row justify-content-center px-5 py-4">
              <h1>ลืมรหัสผ่าน</h1>
              <div class="col-12 _email">
                <div class="_form-group-auth">
                  <label class="col-form-label">ระบุอีเมลที่ใช้ลงทะเบียน</label>
                  <div class="form-input">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="กรอกอีเมล"
                      required
                      [(ngModel)]="RequestResetPasswordData.email"
                      (ngModelChange)="onEmailChange()"
                      name="email"
                      vEmail
                    >
                  </div>
                  <error-message-control
                    *ngIf="isError"
                    [text]="textErr"
                  >
                  </error-message-control>
                </div>
              </div>
              <div class="col-12 _email">
                <span class="text-muted text-bold-500">เมื่อกดยืนยัน</span>
                <p class="text-muted">ระบบจะส่งอีเมลไปยังคุณ กรุณากดลิ้งก์ที่แนบไปเพื่อรีเซ็ตรหัสผ่าน</p>
              </div>
              <div class="col-12 _button-wrapper">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary mr-1 mb-1 _button"
                >ยืนยัน
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->