@import "variables-custom";

._auth {
  width: 40vw;
  height: fit-content;
  min-width: 400px;
  max-width: 700px;
  margin-top: calc(60px + 3rem);
  //background: #eceff0;

  ._email {
    padding-top: 2rem;
  }

  ._forgot-password {
    padding: 1rem;
    font-size: $size-normal;
  }

  ._button-wrapper {
    padding-top: 1rem;
    ._button {
      width: 100%;
      font-size: $size-normal;
    }
  }

}
