<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex justify-content-center">
      <div class="card overflow-hidden _auth">
        <div class="card-content">
          <form
           #form="ngForm"
            [class.submitted]="form.submitted"
            (ngSubmit)="onResetPassword(form)"
          >
            <div class="row justify-content-center px-5 py-4">
              <h1>รีเซ็ตรหัสผ่าน</h1>
              <div class="col-12 _email">
                <div class="_form-group-auth">
                  <label class="col-form-label">ตั้งรหัสผ่านใหม่</label>
                  <div class="form-input position-relative has-icon-right">
                    <input
                      [type]="isFieldTextType ? 'text': 'password'"
                      type="password"
                      class="form-control"
                      placeholder="กรอกรหัสผ่าน"
                      [(ngModel)]="changePassword.newPassword"
                      required
                      vPassword
                      name="password"
                    >
                    <div class="form-control-position">
                      <i
                        id="icon-view-password"
                        class="pointer text-primary"
                        [ngClass]="{'fa fa-eye-slash': !isFieldTextType,'fa fa-eye': isFieldTextType}"
                        (click)="viewPassword()"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 pt-2">
                <span
                  class="text-muted"
                >ต้องกำหนดรหัสผ่านขั้นต่ำ 8 ตัวอักษร ประกอบด้วย ตัวอักษรพิมพ์ใหญ่</span>
                <p class="text-muted">ตัวอักษรพิมพ์เล็ก และตัวเลข</p>
              </div>
              <div class="col-12">
                <div class="_form-group-auth">
                  <label class="col-form-label">ยืนยันรหัสผ่านใหม่</label>
                  <div class="form-input position-relative has-icon-right">
                    <input
                      [type]="isFieldTextTypeNewPassword ? 'text': 'password'"
                      type="password"
                      class="form-control"
                      placeholder="ยืนยันรหัสผ่าน"
                      required
                      [(ngModel)]="changePassword.retypeNewPassword"
                       vPassword
                      name="confirm-password"
                    >
                    <div class="form-control-position">
                      <i
                        id="icon-view-password"
                        class="pointer text-primary"
                        [ngClass]="{'fa fa-eye-slash': !isFieldTextTypeNewPassword,'fa fa-eye': isFieldTextTypeNewPassword}"
                        (click)="viewPasswordRetypeNewPassword()"
                      ></i>
                    </div>
                  </div>
                    <error-message-control
                      *ngIf="isShowErr"
                      [text]="'*รหัสผ่านไม่ตรงกัน กรุณากรอกรหัสให้ถูกต้อง'"
                    ></error-message-control>
                </div>
              </div>
              <div class="col-12 _button-wrapper">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary mr-1 mb-1 _button"
                >ยืนยัน
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->

<lib-modal
  #modal
  [showHeader]="false"
>
  <fe-confirm-reset-password-modal
    *ngIf="modal.isOpen"
    (cancel)="modal.close()"
  >
  </fe-confirm-reset-password-modal>
</lib-modal>