<div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label class="col-form-label is-required">Default Input</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Default Input"
          >
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="col-form-label is-required">Input text with help</label>
        <small class="text-muted">eg.someone@example.com</small>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Default Input"
          >
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label is-required">With Helper Text</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Default Input"
          >
          <small class="text-muted">Find helper text here for given textbox.</small>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label is-required">Disabled Input</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Disabled Input"
            disabled
          >
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label is-required">Readonly Input</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Default Input"
            readonly="readonly"
            value="You can't update me :P"
          >
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label is-required">Static Text</label>
        <div class="form-input">
          <p
            class="form-control-static"
            id="staticInput"
          >email@pixinvent.com</p>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h5>Input with Icons</h5>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label is-required">Left Icon</label>
        <div class="form-group position-relative has-icon-left">
          <input
            type="text"
            class="form-control"
            placeholder="Left Icon"
          >
          <div class="form-control-position">
            <i class="ft-user"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label is-required">Right Icon</label>
        <div class="form-group position-relative has-icon-right">
          <input
            type="text"
            class="form-control"
            placeholder="Right Icon"
          >
          <div class="form-control-position">
            <i class="ft-user"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h5>Size</h5>
      <p>Use <code>.form-control-&#123;lg/sm&#125;</code> for large/small input box.</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="col-form-label is-required">Input Size Lg</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Default Input"
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="col-form-label is-required">Input Size Default</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            placeholder="Default Input"
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="col-form-label is-required">Input Size Sm</label>
        <div class="form-input">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Default Input"
          >
        </div>
      </div>
    </div>
  </div>
</div>
