<div id="Index-type">
  <div class="_g-header justify-content-between">
    <h1 class="_g-title-header">Index Type</h1>
    <div class="d-flex align-items-center" *ngIf="canCreate">
      <span class="text-muted" *ngIf="lastSyncData.status === lastSyncEnum.Done">Last re-cal start at {{lastSyncData.startAt | aDateTime}} น., finish {{lastSyncData.endAt | aDateTime}} น.</span>
      <span class="text-muted" *ngIf="lastSyncData.status === lastSyncEnum.Inprogress"> Last re-cal start at {{lastSyncData.startAt | aDateTime}} น. ระบบอยู่ระหว่างดำเนินการ</span>
      <button
        type="button"
        class="btn btn-outline-primary ml-2 mb-1"
        [disabled]="lastSyncData.status === lastSyncEnum.Inprogress"
        (click)="onSync()"
      >
        <span class="icon"><i class="ft ft-refresh-ccw"></i></span>
        <span>Re-calculate Fund Index</span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 d-flex">
        <div class="col-4">
          <div class="form-group">
            <label class="col-form-label">Index Type</label>
            <div class="form-group _form">
              <input
                type="text"
                class="form-control"
                placeholder="Index Type"
                [(ngModel)]="filter.indexType"
                (ngModelChange)="searchTextChange()"
              />
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="col-form-label">สถานะ</label>
            <div class="d-flex">
              <div class="flex-1">
                <div class="form-input">
                  <pn-segmented-control
                    id="status1"
                    name="status1"
                    [list]="statusList"
                    [(ngModel)]="filter.status"
                    (ngModelChange)="filterChange()"
                  >
                  </pn-segmented-control>
                </div>
              </div>
              <div class="_btn-clear">
                <button
                  type="button"
                  class="btn btn-clear btn-lg mr-1 mb-1"
                  (click)="clearFilter()"
                >
                  ล้าง
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="col-6 px-0">
        <pn-grid-per-page
          [page]="page"
          (setPerPage)="grid.setPerPage($event)"
        ></pn-grid-per-page>
      </div>
      <div class="mr-2" *ngIf="canCreate">
        <button type="button" class="btn btn-primary" (click)="add()">
          สร้างรายการใหม่
        </button>
      </div>
    </div>
    <div class="col-12" *ngIf="rows && rows?.length === 0">
      <pn-data-not-found (add)="add()" (clearFilter)="onClearFilter()">
      </pn-data-not-found>
    </div>
    <div [hidden]="rows && rows?.length === 0" class="_g-table-container">
      <pn-lib-grid
        #grid
        [sort]="{ prop: 'name', asc: false }"
        [bodyHeight]="'auto'"
        [dataSub]="dataSub"
        [rows]="rows"
        [columns]="columns"
        [rowHeight]="65"
        [externalPaging]="true"
        [(page)]="page"
        (pageChange)="pageChange()"
        (sortChange)="onSortChange($event)"
        (edit)="edit($event)"
        (delete)="onDelete($event)"
      ></pn-lib-grid>
    </div>
  </div>
</div>

<ng-template #statusTpl let-value="value" let-row="row">
  <span
    class="badge"
    [class.badge-success]="value"
    [class.badge-secondary]="!value"
    >{{ value ? "Active" : "Inactive" }}</span
  >
</ng-template>

<!--Modal-->
<lib-modal #modal modalSize="md" [showHeader]="false">
  <fe-index-type-form
    *ngIf="modal.isOpen"
    (cancel)="modal.close()"
    (save)="save()"
    [isNew]="isNew"
    [item]="item"
  >
  </fe-index-type-form>
</lib-modal>

<lib-modal #recalModal modalSize="md" [showHeader]="false">
  <fe-recal-fund-index
    *ngIf="recalModal.isOpen"
    (cancel)="recalModal.close()"
    (syncFinish)="onSave()"
    (onDisableSync)="getCancelSync()"
  >
  </fe-recal-fund-index>
</lib-modal>


