<div class="_g-header">
  <h1 class="_g-title-header">รายละเอียด DCA</h1>
  <div class="_g-header justify-content-end">
    <button
      type="button"
      class="btn btn-secondary  mr-1 mb-1"
      (click)="goBack()"
    ><span>กลับ</span>
    </button>
  </div>
</div>

<div class="card">
  <div class="card-body _g-detail-wrapper">
    <div class="d-flex justify-content-between">
      <span class="_g-text-header-title">ข้อมูลทั่วไป</span>
      <span
        class="badge"
        [class.badge-primary]="dcaData?.status === 'PENDING'"
        [class.badge-danger]="dcaData?.status === 'DECLINED'"
        [class.badge-info]="dcaData?.status === 'ACCEPTED'"
        [class.badge-purple]="dcaData?.status === 'ORDER_EXP'"
      >
        {{dcaData?.status  === 'ORDER_EXP' ? 'ORDER EXP.' : dcaData?.status}}
      </span>
    </div>

    <!--    INFO-->
    <div class="row">
      <div class="col-12 d-flex px-0 py-1">
        <div class="col-7">
          <div class="row">
            <div class="col-4 _g-text-title">
              <span>วันที่ส่งคำสั่งให้ลูกค้า</span>
              <p>{{!dcaData?.confirmationSentDate ? '-' : dcaData?.confirmationSentDate | aDate}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>IC License</span>
              <p>{{dcaData?.agent?.icLicense}}  {{dcaData?.agent?.user?.firstName}} {{dcaData?.agent?.user?.lastName}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>Account ID</span>
              <p>{{!dcaData?.fundPlan?.fcnAccountId ? '-' : dcaData?.fundPlan?.fcnAccountId}}</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-6 _g-text-title">
              <span>ชื่อ-นามสกุลจริง</span>
              <p>{{dcaData?.user?.account?.thFirstname}} {{dcaData?.user?.account?.thLastname}}</p>
            </div>
            <div class="col-6 _g-text-title">
              <span>วันที่ทำรายการ</span>
              <p>{{!dcaData?.confirmationDate ? '-' : dcaData?.confirmationDate | aDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <!--    BUY-->
    <div class="d-flex justify-content-between align-items-center pt-2">
      <span class="_g-text-header-title">ข้อมูล DCA</span>
    </div>
    <div class="row">
      <div class="col-12 d-flex px-0 py-1">
        <div class="col-7">
          <div class="row">
            <div class="col-4 _g-text-title">
              <span>แผนลงทุน</span>
              <p>{{dcaData?.name}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>รูปแบบ DCA</span>
              <p>{{dcaData?.frequency === 'WEEKLY' ? 'แบบรายสัปดาห์' : dcaData?.frequency === 'MONTHLY' ? 'แบบรายเดือน' : '-' }}
              </p>
            </div>
            <div class="col-4 _g-text-title">
              <span>วันที่ DCA</span>
              <p *ngIf="dcaData?.frequency === 'WEEKLY'">
                ทุกวัน{{dcaData.selectDay === '0' ? 'จันทร์' : dcaData.selectDay === '1' ? 'อังคาร' : dcaData.selectDay === '2' ? 'พุธ' : dcaData.selectDay === '3' ? 'พฤหัสบดี' : dcaData.selectDay === '4' ? 'ศุกร์' : '-' }}
              </p>
              <p *ngIf="dcaData?.frequency === 'MONTHLY'">
                ทุกวันที่ {{dcaData?.selectDate}}
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr/>

    <!--    Fund-->
    <div class="d-flex justify-content-between align-items-center pt-2">
      <span class="_g-text-header-title mb-0">รายการกองทุน</span>
    </div>
    <div class="row">
      <div class="col-12 d-flex px-0 py-1">
        <div class="col-6 d-flex">
          <div class="col-6 _g-text-title d-flex align-items-center">
            <p class="mb-0">กองทุน</p>
          </div>
          <div class="col-6 _g-text-title d-flex align-items-center">
            <p class="mb-0">บลจ.</p>
          </div>
        </div>
        <div class="col-6 d-flex">
          <div class="col-6 _g-text-title d-flex align-items-center">
            <p class="mb-0">สัดส่วน
            </p>
          </div>
          <div class="col-6 _g-text-title d-flex align-items-center">
            <p class="mb-0">จำนวนเงิน</p>
          </div>
        </div>
      </div>
    </div>
    <hr/>

    <div *ngFor="let fund of dcaData.fundPlanDraftFundSummaries">
      <div class="row">
        <div class="d-flex col-12 px-0 pb-2 pt-2">
          <div class="col-6 d-flex">
            <div class="col-6 d-flex flex-column justify-content-center">
              {{fund.fundCode}}
              <div class="d-flex px-0 align-items-center"  *ngIf="dcaData?.status === 'ACCEPTED' && fund.isCompleteDcaTransaction === false || dcaData?.status === 'ACCEPTED' && fund.isCompleteTransaction === false" >
                <img class="_g-remark-img"
                     src="assets/img/triangle-warning.png">
                <span class="text-danger">ทำรายการไม่สำเร็จ</span>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center">{{fund.amcCode}}</div>
          </div>
          <div class="col-6 d-flex">
            <div class="col-6 d-flex align-items-center">{{fund.recurringCostPercentage | aDecimal}}%</div>
            <div class="col-6 d-flex align-items-center">{{fund.recurringCost | aDecimal}}</div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="d-flex col-12 px-0 pb-2 pt-2">
      <div class="col-6">

      </div>
      <div class="col-6 d-flex">
        <div class="col-5"></div>
        <div class="col-6"><span>
          รวม<span class="pl-3">{{convertFundPlanSummary(dcaData?.fundPlanDraftFundSummaries) | aDecimal}}</span>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="_g-header justify-content-end">
  <button
    type="button"
    class="btn btn-secondary  mr-1 mb-1"
    (click)="goBack()"
  ><span>กลับ</span>
  </button>
</div>
