@import "variables-custom";

._loading {
  width: 100px;
  height: 100px;
}


._custom-btn-size-failed {
  width: 176px;
}

._custom-btn-size {
  width: 300px;
}

._validate-error {
  margin-top: 0.25rem;
  color: #c63939;
  letter-spacing: 0.3px;
  font-size: 12.6px;
}

._custom-date {

  ::ng-deep .form-control {
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid #c63939;
    height: 48px;
    color: #333;
  }

}

._btn-sync {
  // margin-left: $grid-gutter-width;
}