<div class="_g-header">
  <h1 class="_g-title-header">รายละเอียด คำสั่งซื้อ ขาย สับเปลี่ยน</h1>
  <div class="_g-header justify-content-end">
    <button
      type="button"
      class="btn btn-secondary  mr-1 mb-1"
      (click)="goBack()"
    ><span>กลับ</span>
    </button>
  </div>
</div>


<div class="card">
  <div class="card-body _g-detail-wrapper">
    <div class="d-flex justify-content-between">
      <span class="_g-text-header-title">ข้อมูลทั่วไป</span>
      <span
        class="badge"
        [class.badge-primary]="orderData?.status === 'PENDING'"
        [class.badge-danger]="orderData?.status === 'DECLINED'"
        [class.badge-info]="orderData?.status === 'ACCEPTED'"
        [class.badge-purple]="orderData?.status === 'ORDER_EXP'"
      >
        {{orderData?.status === 'ORDER_EXP' ? 'ORDER EXP.' : orderData?.status}}
      </span>
    </div>

    <!--    INFO-->
    <div class="row">
      <div class="col-12 d-flex px-0 py-1">
        <div class="col-7">
          <div class="row">
            <div class="col-4 _g-text-title">
              <span>วันที่ส่งคำสั่งให้ลูกค้า</span>
              <p>{{!orderData?.confirmationSentDate ? '-' : orderData?.confirmationSentDate | aDate}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>IC License</span>
              <p>{{orderData?.agent?.icLicense}}  {{orderData?.agent?.user?.firstName}} {{orderData?.agent?.user?.lastName}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>Account ID</span>
              <p>{{!orderData?.fundPlan?.fcnAccountId ? '-' : orderData?.fundPlan?.fcnAccountId}}</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-6 _g-text-title">
              <span>ชื่อ-นามสกุล</span>
              <p>{{orderData?.user?.account?.thFirstname}} {{orderData?.user?.account?.thLastname}}</p>
            </div>
            <div class="col-6 _g-text-title">
              <span>วันที่ทำรายการ</span>
              <p>{{!orderData?.confirmationDate ? '-' : orderData?.confirmationDate | aDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <!--    BUY-->
    <div class="d-flex justify-content-between align-items-center pt-2">
      <span class="_g-text-header-title">ข้อมูลคำสั่ง</span>
    </div>
    <div class="row">
      <div class="col-12 d-flex px-0 py-1">
        <div class="col-7">
          <div class="row">
            <div class="col-4 _g-text-title">
              <span>ประเภทคำสั่ง</span>
              <p> {{orderData?.draftType === 'SUBSCRIPTION_ORDER' ? 'BUY' : orderData?.draftType === 'REDEMPTION_ORDER' ? 'SELL' : orderData?.draftType === 'SWITCHING_ORDER' ? 'SWITCH' : '-'}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>แผนลงทุน</span>
              <p>{{orderData?.name}}</p>
            </div>
            <div class="col-4 _g-text-title">
              <span>บัญชีจ่ายเงิน</span>
              <p>{{orderData?.bankAccount?.bankShortName}}</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-6 _g-text-title">
              <span>เลขที่บัญชี</span>
              <p>{{orderData?.bankAccount?.bankAccountNo}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>


    <div class="d-flex justify-content-between align-items-center pt-2">
      <span class="_g-text-header-title mb-0">รายการกองทุน</span>
    </div>
    <!--    BUY PENDING-->
    <div
      *ngIf="status === 'PENDING' && draftType === 'SUBSCRIPTION_ORDER' || status === 'PENDING' && draftType === 'REDEMPTION_ORDER'">
      <div class="row">
        <div class="_fund-list col-12 d-flex px-0 py-1">
          <div class="col-7 d-flex">
            <div class="col-4 _g-text-title d-flex align-items-center">
              <p class="mb-0">กองทุน</p>
            </div>
            <div class="col-4 _g-text-title d-flex align-items-center">
              <p class="mb-0">บลจ.</p>
            </div>
            <div class="col-4  _g-text-title d-flex align-items-center">
              <p class="mb-0">จำนวน (บาท)</p>
            </div>
          </div>
          <div class="col-5 d-flex">
            <div class="col-4 _g-text-title">
              <p class="mb-0">จำนวน (หน่วย)
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div *ngFor="let fund of orderData?.fundPlanDraftFunds">
        <div class="row">
          <div class="d-flex  col-12 px-0 pb-2 pt-2">
            <div class="col-7 d-flex">
              <div class="col-4 d-flex align-items-center">{{fund.fundCode}}</div>
              <div class="col-4 d-flex align-items-center">{{fund.amcCode}}</div>
              <div class="col-4 d-flex align-items-center">{{fund.startingCost | aDecimal}}</div>
            </div>
            <div class="col-5 d-flex">
              <div class="col-4">{{!fund.unit ? '-' : fund.unit === 0 ? '-' : fund.unit| aDecimal: 4}}</div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--    BUY accepted-->
    <div
      *ngIf="status === 'ACCEPTED' && draftType === 'SUBSCRIPTION_ORDER' || status === 'ACCEPTED' && draftType === 'REDEMPTION_ORDER' || status === 'DECLINED' && draftType === 'SUBSCRIPTION_ORDER' || status === 'DECLINED' && draftType === 'REDEMPTION_ORDER'">
      <div class="row">
        <div class="_fund-list col-12 d-flex px-0 py-1">
          <div class="col-12 d-flex">
            <div class="col-3 _g-text-title d-flex align-items-center">
              <p class="mb-0">กองทุน</p>
            </div>
            <div class="col-3 _g-text-title d-flex align-items-center">
              <p class="mb-0">บลจ.</p>
            </div>
            <div class="col-3  _g-text-title d-flex align-items-center">
              <p class="mb-0">จำนวน (บาท)</p>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div *ngFor="let fund of orderData?.fundPlanDraftFunds">
        <div class="row">
          <div class="d-flex  col-12 px-0 pb-2 pt-2">
            <div class="col-12 d-flex">
              <div class="col-3 d-flex align-items-center">{{fund.fundCode}}&nbsp;
                <img *ngIf="status === 'ACCEPTED' && fund.isCompleteTransaction === false" class="_g-remark-img"
                     src="assets/img/triangle-warning.png">
                <span *ngIf="status === 'ACCEPTED' && fund.isCompleteTransaction === false" class="text-danger">ทำรายการไม่สำเร็จ</span>
              </div>
              <div class="col-3 d-flex align-items-center">{{fund.amcCode}}</div>
              <div class="col-3 d-flex align-items-center">{{fund.startingCost | aDecimal}}</div>
              <div class="col-3 d-flex align-items-center">
                <a class="text-primary" (click)="goToTransaction(fund)">
                  <i class="ic ic-eye-circle font-medium-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--    SWITCH accepted-->
    <div
      *ngIf="status === 'ACCEPTED' && draftType === 'SWITCHING_ORDER' || status === 'PENDING' && draftType === 'SWITCHING_ORDER' || status === 'DECLINED' && draftType === 'SWITCHING_ORDER'"
      class="py-4 pr-3">
      <div class="col-12 d-flex">
        <div class="col-7 _left-wrapper">
          <div class="row pl-4">
            <div class="col-4 _g-text-title d-flex align-items-center _left-header">
              <p class="mb-0">กองทุนต้นทาง</p>
            </div>
            <div class="col-3 _g-text-title d-flex align-items-center _left-header">
              <p class="mb-0">บลจ. ต้นทาง</p>
            </div>
            <div class="col-3 _g-text-title d-flex align-items-center _left-header">
              <p class="mb-0">จำนวนหน่วย</p>
            </div>
            <div class="col-2 _g-text-title d-flex align-items-center _left-header">
              <p class="mb-0">จำนวนเงิน</p>
            </div>
          </div>
          <div class="row border-top pl-4" *ngFor="let fund of orderData?.fundPlanDraftFunds">
            <div class="col-4 _g-text-title d-flex justify-content-center flex-column _left-detail">
              {{fund.fundCode}}
              <div class="d-flex px-0 align-items-center">
                <img *ngIf="status === 'ACCEPTED' && fund.isCompleteTransaction === false" class="_g-remark-img"
                     src="assets/img/triangle-warning.png">
                <span *ngIf="status === 'ACCEPTED' && fund.isCompleteTransaction === false" class="text-danger">ทำรายการไม่สำเร็จ</span>
              </div>
            </div>
            <div class="col-3 _g-text-title d-flex align-items-center _left-detail">
              {{fund.amcCode}}
            </div>
            <div class="col-3 _g-text-title d-flex align-items-center _left-detail">
              {{!fund.unit ? '-' : fund.unit === 0 ? '-' : fund.unit| aDecimal: 4}}
            </div>
            <div class="col-2 _g-text-title d-flex align-items-center _left-detail">
              {{fund.startingCost | aDecimal}}
            </div>
          </div>
        </div>
        <div class="col-5 _right-wrapper">
          <div class="row pl-4">
            <div class="col-5 _g-text-title d-flex align-items-center _right-header">
              <p class="mb-0">กองทุนปลายทาง</p>
            </div>
            <div class="col-5 _g-text-title d-flex align-items-center _right-header">
              <p class="mb-0">บลจ. ปลายทาง</p>
            </div>
            <div class="col-2 _g-text-title d-flex align-items-center _right-header">
            </div>
          </div>
          <div class="row border-top pl-4" *ngFor="let fund of orderData?.fundPlanDraftFunds">
            <div class="col-5 _g-text-title d-flex justify-content-center flex-column _right-detail">
              {{fund.counterFundCode ? fund.counterFundCode : '-'}}
            </div>
            <div class="col-5 _g-text-title d-flex align-items-center _right-detail">
              {{fund.counterAmcCode ? fund.counterAmcCode : '-'}}
            </div>
            <div *ngIf="status === 'ACCEPTED' || status === 'DECLINED'"
                 class="col-2 d-flex justify-content-end align-items-center _right-detail">
              <a class="text-primary"
                 (click)="goToTransaction(fund)"
              >
                <i class="ic ic-eye-circle font-medium-3"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="_g-header justify-content-end">
  <button
    type="button"
    class="btn btn-secondary  mr-1 mb-1"
    (click)="goBack()"
  ><span>กลับ</span>
  </button>
</div>
