<!-- <div class="card-body py-0"> -->
<div class="card-header pl-0">
  <span class="_g-text-header-title">รายชื่อผู้ถือหุ้นที่ถือหุ้นตั้งแต่ 25% ขึ้นไป</span>
</div>

<p class="mb-0 py-1 pl-3 _p-color">บุคคลธรรมดาที่เป็นผู้ถือหุ้นของนิติบุคคลเจ้าของบัญชี</p>
<div class="row">
  <div class="col-12 d-flex pl-4 pt-2">
    <div class="border-bottom col-12  px-0 pb-2 row">
      <div class="col-5">
        <div class="row">
          <div class="col-7">
            <span>ชื่อ-นามสกุล ของผู้ถือหุ้น</span>
          </div>
          <div class="col-5 d-flex justify-content-center">
            <span>สัญชาติ</span>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="row">
          <div class="col-7">
            <span>เลขบัตรประชาชน/เลขที่พาสปอร์ต</span>
          </div>
          <div class="col-4">
            <span>วันหมดอายุ</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-12 d-flex pl-4 pt-2"
    *ngFor="let  puppetHolderGeneral of  dataPuppetHolderGeneral; let index = index;"
  >
    <div class="border-bottom col-12 px-0 row">
      <div class="col-5 pl-2">
        <div class="row">
          <div class="col-7">
            <div class="form-group">
              <div class="form-input">
                <input
                  id="name-{{index}}"
                  name="namename-{{index}}"
                  type="text"
                  class="form-control"
                  placeholder="โปรดระบุ"
                  [(ngModel)]="puppetHolderGeneral.name"
                  required
                >
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <div class="form-input">
                <shared-nationality-dropdown
                  id="nationality-{{index}}"
                  name="nationality-{{index}}"
                  placeholder="โปรดระบุ"
                  [(ngModel)]="puppetHolderGeneral.nationality"
                  required
                >
                </shared-nationality-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="row">
          <div class="col-7">
            <div class="form-group">
              <div class="form-input">
                <input
                  id="idCard"
                  name="idCard"
                  type="text"
                  class="form-control"
                  placeholder="โปรดระบุ"
                  required
                  [(ngModel)]=" puppetHolderGeneral.idCard"
                >
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="form-input">
                <pn-date-picker
                  placeholder="dd/mm/yyyy"
                  id="expiryDate"
                  name="expiryDate"
                  required
                  required
                  [(ngModel)]=" puppetHolderGeneral.expiryDate"
                >
                </pn-date-picker>
              </div>
            </div>
          </div>
          <div class="align-items-center d-flex pl-3">
            <a
              ngbTooltip="ลบ"
              container="body"
              class="text-primary mb-2"
              (click)="onClickDelete(index)"
            ><i class="ic ic-delete font-size-xlarge"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end py-3">
    <a
      class="align-items-center d-flex"
      (click)="addPuppetHolderGeneral()"
    ><i class="ic ic-plus-circle text-primary font-size-xlarge"></i>&nbsp;&nbsp; <span>เพิ่มรายชื่อผู้ถือหุ้นนิติบุคคล</span></a>
  </div>
</div>

<p class="mb-0 py-1 pl-3 _p-color">นิติบุคคลที่เป็นผู้ถือหุ้นของนิติบุคคลเจ้าของบัญชี</p>
<div class="row">
  <div class="col-12 d-flex pl-4 pt-2">
    <div class="border-bottom col-12  px-0 pb-2 row">
      <div class="col-5">
        <div class="row">
          <div class="col-7">
            <span>ชื่อ-นามสกุล หรือ ชื่อนิติบุคคล ที่เป็นผู้ถือหุ้น</span>
          </div>
          <div class="col-5 d-flex justify-content-center">
            <span>สัญชาติ</span>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="row">
          <div class="col-7">
            <span>เลขบัตรประชาชน/เลขที่พาสปอร์ต/เลขประจำตัวผู้เสียภาษีอากร/เลขทะเบียนนิติบุคคล</span>
          </div>
          <div class="col-4">
            <span>วันหมดอายุ</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-12 d-flex pl-4 pt-2"
    *ngFor="let  puppetHolderJuristic of dataPuppetHolderJuristic; let index = index;"
  >
    <div class="border-bottom col-12 px-0 row">
      <div class="col-5 pl-2">
        <div class="row">
          <div class="col-7">
            <div class="form-group">
              <div class="form-input">
                <input
                  id="name-{{index}}"
                  name="name-{{index}}"
                  type="text"
                  class="form-control"
                  placeholder="โปรดระบุ"
                  [(ngModel)]=" puppetHolderJuristic.name"
                  required
                >
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <div class="form-input">
                <shared-nationality-dropdown
                  id="nationality-{{index}}"
                  name="nationality-{{index}}"
                  placeholder="โปรดระบุ"
                  [(ngModel)]="puppetHolderJuristic.nationality"
                  required
                >
                </shared-nationality-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="row">
          <div class="col-7">
            <div class="form-group">
              <div class="form-input">
                <input
                  id="idCard"
                  name="idCard"
                  type="text"
                  class="form-control"
                  placeholder="โปรดระบุ"
                  required
                  [(ngModel)]=" puppetHolderJuristic.idCard"
                >
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="form-input">
                <pn-date-picker
                  placeholder="dd/mm/yyyy"
                  id="expiryDate"
                  name="expiryDate"
                  required
                  required
                  [(ngModel)]=" puppetHolderJuristic.expiryDate"
                >
                </pn-date-picker>
              </div>
            </div>
          </div>
          <div class="align-items-center d-flex pl-3">
            <a
              ngbTooltip="ลบ"
              container="body"
              class="text-primary mb-2"
              (click)="onDeletePuppetHolderJuristic(index)"
            ><i class="ic ic-delete font-size-xlarge"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end py-3">
    <a
      class="align-items-center d-flex"
      (click)="addPuppetHolderJuristic()"
    ><i class="ic ic-plus-circle text-primary font-size-xlarge"></i>&nbsp;&nbsp; <span>เพิ่มรายชื่อผู้ถือหุ้นนิติบุคคล</span></a>
  </div>
</div>
<!-- </div> -->
